@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
    /* Your active styles here */
    color: blue;
    border-bottom: solid blue 3px;
    transition: ease-in-out 0.2s;
  }
  .slidebar{
    flex: 0.3;
  }
  .chat
  {
    flex: 0.7;
  }
  .welcome
  {
    flex: 0.7;
  }